@model BJJInParadise.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
@section styles{
    <style>
        #mainNav {
            background: #000 !important;
        }

        #manageContainer {
            margin-top: 160px;
        }
    </style>
}
    <div id="manageContainer">
      
   
        <div class="container ">

            <h4>My Reservations</h4>
            @if (Model.Bookings.Any())
            {
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            @if (Model.Bookings.Any())
                            {
                                <tr>
                                    <th scope="col">@Html.LabelFor(x => x.Bookings.First().BookingDate)</th>
                                    <th scope="col">@Html.LabelFor(x => x.Bookings.First().AmountPaid)</th>
                                    <th scope="col">@Html.LabelFor(x => x.Bookings.First().Camp.CampName)</th>
                                    <th scope="col">@Html.LabelFor(x => x.Bookings.First().Camp.StartDate)</th>
                                </tr>
                            }
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Bookings)
                            {
                                <tr scope="row">
                                    <td>@Html.DisplayFor(x => item.BookingDate)</td>
                                    <td>@Html.DisplayFor(x => item.AmountPaid)</td>
                                    <td>@Html.DisplayFor(x => item.Camp.CampName)</td>
                                    <td>@Html.DisplayFor(x => item.Camp.StartDate)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <span>To cancel or change a reservation, please contact Brad at <a href="mailto:soulcraftjiujitsu@gmail.com?Subject=Change%20or%20Cancel%20Reservation">soulcraftjiujitsu@gmail.com</a></span>

            }
            else
            {
                @Html.ActionLink("Reserve My Spot", "Index", "Booking", new { id = ViewBag.NextCamp.CampId }, new { @class = "btn btn-primary btn-xl text-uppercase " })

            }
        </div>
        <div class="container">
            <p class="text-success">@ViewBag.StatusMessage</p>
            <h4>Change your account settings</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>



            </dl>
        </div>
    </div>