@model BJJInParadise.Web.ViewModels.CreateCampRoomOptionViewModel 

<div class="container" id="campOptionsContainer">
    <h2>Room Options</h2>
    <p>
        @Html.ActionLink("Create New", "Create", new {id = Model.CampId}, new { @class = "btn btn-info" })
    </p>
    @if (Model.CampRoomOptions != null && Model.CampRoomOptions.Any())
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CampRoomOptions.FirstOrDefault().Camp.CampName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CampRoomOptions.FirstOrDefault().RoomType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CampRoomOptions.FirstOrDefault().CostPerPerson)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CampRoomOptions.FirstOrDefault().SpotsAvailable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CampRoomOptions.FirstOrDefault().BookedSpots)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.CampRoomOptions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Camp.CampName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostPerPerson)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpotsAvailable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookedSpots)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id = item.CampRoomOptionId}, new {@class = "btn btn-success"})
                        @Html.ActionLink("Delete", "Delete", new {id = item.CampRoomOptionId}, new {@class = "btn btn-danger"})
                    </td>
                </tr>
            }

        </table>
    }else{
        <p>No rooms added</p>
            
    }
</div>
