@using System.Web.Mvc.Html
@model IEnumerable<BjjInParadise.Core.Models.Booking>

<div class="table-responsive">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(x => x.User.FirstName)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x.User.LastName)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x.AmountPaid)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x.Camp.StartDate)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x.Camp.CampName)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x.CreatedDate)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x.ModifiedDate)</th>
                  </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <th scope="row">@Html.DisplayFor(x => item.User.FirstName)</th>
                    <th scope="row">@Html.DisplayFor(x => item.User.LastName)</th>

                    <td>@Html.DisplayFor(x => item.AmountPaid)</td>

                    <td> @Html.DisplayFor(x => item.Camp.StartDate)</td>

                    <td> @Html.DisplayFor(x => item.Camp.CampName)</td>

                    <td> @Html.DisplayFor(x => item.Camp.CreatedDate)</td>
                    <td>@Html.DisplayFor(x => item.ModifiedDate)</td>

               

                </tr>
                }
                </tbody>
        </table>
    
  
</div>