@model BJJInParadise.Web.ViewModels.NewBookingViewModel
@{
    ViewBag.Title = "Booking";
    ;
}

@section styles{
    <link href="~/Content/smart_wizard.css" rel="stylesheet" type="text/css" />

    <style>
        #mainNav {
            background: #000 !important;
        }

        #smartwizard {
            margin-top: 160px;
        }


        #myTable td {
            width: 150px;
        }

  
        .credit-card-box .panel-title {
            display: inline;
            font-weight: bold;
        }
        .credit-card-box .form-control.error {
            border-color: red;
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
        }
        .credit-card-box label.error {
            font-weight: bold;
            color: red;
            padding: 2px 8px;
            margin-top: 2px;
        }
        .credit-card-box .payment-errors {
            font-weight: bold;
            color: red;
            padding: 2px 8px;
            margin-top: 2px;
        }
        .credit-card-box label {
            display: block;
        }
        /* The old "center div vertically" hack */
        .credit-card-box .display-table {
            display: table;
        }
        .credit-card-box .display-tr {
            display: table-row;
        }
        .credit-card-box .display-td {
            display: table-cell;
            vertical-align: middle;
            width: 50%;
        }
        /* Just looks nicer */
        .credit-card-box .panel-heading img {
            min-width: 180px;
        }
    </style>
}
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.UserId)
        <div id="smartwizard">
            <ul>
                <li><a href="#step-1">Contact Info<br /><small>Who's booking this?</small></a></li>
                <li><a href="#step-2">Choose a Camp<br /><small>Which one?</small></a></li>
                <li><a href="#step-3">Payment<br /><small></small></a></li>
            </ul>

            <div>
                <div id="step-1" class="form-inline">
                    <div class="container">

                        <div class="table-responsive">

                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><label class="control-label">@Html.DisplayNameFor(x => x.User.FirstName)</label></td>
                                    <td><input type="text" class="form-control" value="@Html.DisplayFor(x => x.User.FirstName)" /></td>
                                    <td><label class="control-label">@Html.DisplayNameFor(x => x.User.LastName)</label></td>
                                    <td><input type="text" class="form-control" value="@Html.DisplayFor(x => x.User.LastName)" /></td>
                                </tr>
                                <tr>
                                    <td class="tableLabel"><label class="control-label">@Html.DisplayNameFor(x => x.User.Country)</label></td>
                                    <td><input type="text" class="form-control" value="@Html.DisplayFor(x => x.User.Country)" /></td>
                                    <td class="tableLabel"><label class="control-label">@Html.DisplayNameFor(x => x.User.ZipCode)</label></td>
                                    <td><input type="text" class="form-control" value="@Html.DisplayFor(x => x.User.ZipCode)" /></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label">@Html.DisplayNameFor(x => x.User.Street)</label></td>
                                    <td><input type="text" class="form-control" value="@Html.DisplayFor(x => x.User.Street)" /></td>
                                    <td><label class="control-label">@Html.DisplayNameFor(x => x.User.State)</label></td>
                                    <td><input type="text" class="form-control" value="@Html.DisplayFor(x => x.User.State)" /></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label">@Html.DisplayNameFor(x => x.User.PhoneNumber)</label></td>
                                    <td><input type="text" class="form-control" value="@Html.DisplayFor(x => x.User.PhoneNumber)" /></td>
                                    <td><label class="control-label">@Html.DisplayNameFor(x => x.User.HomeGym)</label></td>
                                    <td><input type="text" class="form-control" value="@Html.DisplayFor(x => x.User.HomeGym)" /></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div id="step-2" class="">
                    <div class="row">
                        <div class="container">
                            <label class="control-label">@Html.DisplayNameFor(x => x.AllAvailableCamps)</label>
                            @Html.DropDownListFor(x => x.CampId, Model.AllAvailableCamps, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <label class="control-label">@Html.DisplayNameFor(x => x.RoomOptions)</label>
                            @Html.DropDownListFor(x => x.CampRoomOptionId, Model.RoomOptions, new { htmlAttributes = new { @class = "form-control" } })

                            <div id="total"></div>
                        </div>
                    </div>
                </div>
                <div id="step-3" class="">
                    <div class="container">
  
                        <div class="row">
                            <!-- You can make it whatever width you want. I'm making it full width
                            on <= small devices and 4/12 page width on >= medium devices -->
                            <div class="col-xs-12 col-md-4">


                                <!-- CREDIT CARD FORM STARTS HERE -->
                                <div class="panel panel-default credit-card-box">
                                    <div class="panel-heading display-table">
                                        <div class="row display-tr">
                                            <h3 class="panel-title display-td">Payment Details</h3>
                                            <div class="display-td">
                                                <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <form role="form" id="payment-form">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        @Html.DisplayNameFor(x => x.CreditCard)
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.CreditCard, new {htmlAttributes = new {@class = "form-control", placeholder = "Valid Card Number"}})


                                                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-7 col-md-7">
                                                    <div class="form-group">
                                                        @Html.DisplayNameFor(x => x.Expiration)
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.Expiration, new {htmlAttributes = new {@class = "form-control", placeholder = "MM / YY"}})


                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-xs-5 col-md-5 pull-right">
                                                    <div class="form-group">
                                                        @Html.DisplayNameFor(x => x.CVC)
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.CVC, new {htmlAttributes = new {@class = "form-control", placeholder = "CVC"}})


                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button class="btn btn-success btn-lg btn-block" type="submit">Checkout</button>
                                                </div>
                                            </div>
                                            <div class="row" style="display: none;">
                                                <div class="col-xs-12">
                                                    <p class="payment-errors"></p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                   
            </div>
        </div>






    }
</div>

@section Scripts {
     <script src="~/Scripts/jquery.smartWizard.js"></script>

    <script type="text/javascript">
    



        $(document).ready(function() {
            $('#smartwizard').smartWizard();
            var counter = 0;

            $("#addrow").on("click",
                function() {
                    var newRow = $("<tr>");
                    var cols = "";

                    cols += '<td><input type="text" class="form-control" name="firstName' + counter + '"/></td>';
                    cols += '<td><input type="text" class="form-control" name="lastName' + counter + '"/></td>';
                    cols += '<td><input type="text" class="form-control" name="Email' + counter + '"/></td>';

                    cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
                    newRow.append(cols);
                    $("table.order-list").append(newRow);
                    counter++;
                });


            $("table.order-list").on("click",
                ".ibtnDel",
                function(event) {
                    $(this).closest("tr").remove();
                    counter -= 1;
                });

       
        });


        $("#CampId").change(function() {
            var camp = $("#CampRoomOptionId").empty();
            camp.empty();
            var data = { campId: $(this).val() }
            $.post('@Url.Action("GetCampOptions")',
                    data,
                    function(backdata, status) {

                    },
                    "json").done(function(data) {


                    camp.append($('<option></option>').text("-- Select -- ").val(0));
                    $.each(data.data,
                        function(index, item) { // item is now an object containing properties ID and Text
                            camp.append($('<option></option>').text(item.RoomType + ' ' + formatAsCurrency(item.CostPerPerson))
                                .val(item.CampRoomOptionId)).data("cost", item.CostPerPerson);
                        });

                })
                .fail(function(xhr) {
                    alert(xhr.responseText);
                });;
        });
        $("#CampRoomOptionId").change(function () {
            // Create our number formatter.


            $("#total").html('<div class="row"><div class="container">Total Cost: ' + formatAsCurrency($(this).data("cost")) + '</div></div>');
        });

        function formatAsCurrency(value) {
            var formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD',
                minimumFractionDigits: 2,
                // the default value for minimumFractionDigits depends on the currency
                // and is usually already 2
            });

            return formatter.format(value);
        }


    </script>
}
