@model BJJInParadise.Web.ViewModels.NewBookingViewModel
@{
    ViewBag.Title = "Booking";
    ;
}

@section styles{
    <link href="~/Content/smart_wizard.css" rel="stylesheet" type="text/css" /> 
    <style>
        #mainNav {
            background: #000 !important;
        }

        #smartwizard {
            margin-top: 160px;
        }


        #myTable  td {
            width: 150px;
        }

    </style>
}
<div class="container">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="smartwizard">
        <ul>
            <li><a href="#step-1">Contact Info<br /><small>Who's booking this?</small></a></li>
            <li><a href="#step-2">Choose a Camp<br /><small>Which one?</small></a></li>
            <li><a href="#step-3">Step Title<br /><small>Step description</small></a></li>
            <li><a href="#step-4">Step Title<br /><small>Step description</small></a></li>
        </ul>
 
        <div>
            <div id="step-1" class="form-inline">
                <div class="container">

                    <div class="table-responsive">

                        <table class="table">
                            <tbody>
                            <tr>
                                <td><label class="control-label">@Html.DisplayNameFor(x => x.User.FirstName)</label></td>
                                <td><input type="text" class="form-control" value="@Html.DisplayFor(x => x.User.FirstName)"/></td>
                                <td><label class="control-label">@Html.DisplayNameFor(x => x.User.LastName)</label></td>
                                <td><input type="text" class="form-control" value="@Html.DisplayFor(x => x.User.LastName)"/></td>
                            </tr>
                            <tr>
                                <td class="tableLabel"><label class="control-label">@Html.DisplayNameFor(x => x.User.Country)</label></td>
                                <td><input type="text" class="form-control" value="@Html.DisplayFor(x => x.User.Country)"/></td>
                                <td class="tableLabel"><label class="control-label">@Html.DisplayNameFor(x => x.User.ZipCode)</label></td>
                                <td><input type="text" class="form-control" value="@Html.DisplayFor(x => x.User.ZipCode)"/></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">@Html.DisplayNameFor(x => x.User.Street)</label></td>
                                <td><input type="text" class="form-control" value="@Html.DisplayFor(x => x.User.Street)"/></td>
                                <td><label class="control-label">@Html.DisplayNameFor(x => x.User.State)</label></td>
                                <td><input type="text" class="form-control" value="@Html.DisplayFor(x => x.User.State)"/></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">@Html.DisplayNameFor(x => x.User.PhoneNumber)</label></td>
                                <td><input type="text" class="form-control" value="@Html.DisplayFor(x => x.User.PhoneNumber)"/></td>
                                <td><label class="control-label">@Html.DisplayNameFor(x => x.User.HomeGym)</label></td>
                                <td><input type="text" class="form-control" value="@Html.DisplayFor(x => x.User.HomeGym)"/></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div id="step-2" class="">
                <div class="row">
                    <div class="container">
                    <label class="control-label">@Html.DisplayNameFor(x => x.AllAvailableCamps)</label>
                    @Html.DropDownListFor(x => x.CampId, Model.AllAvailableCamps, new {htmlAttributes = new {@class = "form-control"}})
                    </div>
                </div>
          
                    <div class="container">
                        <h3>Participants</h3>
                        <table id="myTable" class="table-responsive order-list">
                            <thead>
                                <tr>
                                    <td>First Name</td>
                                    <td>Last Name</td>
                                    <td>Email</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>

                                        @Html.EditorFor(model => model.User.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.User.FirstName, "", new { @class = "text-danger" })

                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.User.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.User.LastName, "", new { @class = "text-danger" })
                                    </td>
                                    <td style="width:250px">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </td>
                                
                                    <td>
                                        @Html.CheckBoxFor(model => model.NonTraining, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NonTraining, "", new { @class = "text-danger" })
                                    </td>
                                    <td class="col-sm-2">
                                        <a class="deleteRow"></a>

                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" style="text-align: left;">
                                        <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" />
                                    </td>
                                </tr>
                                <tr></tr>
                            </tfoot>
                        </table>


                </div>
            </div>
            <div id="step-3" class="">
                Step Content
            </div>
            <div id="step-4" class="">
                Step Content
            </div>
        </div>
    </div>


    @*<div class="image-container set-full-height" style="background-image: url('~/Content/assets/img/wizard-profile.jpg'); padding-top: 100px;">
      
   
        <!--   Big container   -->
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="green" id="wizardProfile">
                           
                                <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                                <div class="wizard-header">
                                    <h3 class="wizard-title">
                                        Build Your Profile
                                    </h3>
                                    <h5>This information will let us know more about you.</h5>
                                </div>
                                <div class="wizard-navigation">
                                    <ul>
                                        <li><a href="#information" data-toggle="tab">Booking Contact Info</a></li>
                                        <li><a href="#whichCamp" data-toggle="tab">Camp</a></li>
                                        <li><a href="#participants" data-toggle="tab">Participants</a></li>
                                        <li><a href="#payment" data-toggle="tab">Payment</a></li>
                                    </ul>
                                </div>
             
                                    <div class="tab-pane" id="participants">
                                        <h4 class="info-text">Camp Participants</h4>
                                       
                                        
                                    
                                    </div>
                                    <div class="tab-pane" id="payment">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h4 class="info-text">Payment </h4>
                                            </div>
                                            <div class="col-sm-7 col-sm-offset-1">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Street Name</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Street Number</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">City</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Country</label>
                                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />
                                        <input type='button' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Finish' />
                                    </div>
                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                    
                        </div>
                    </div> <!-- wizard container -->
                </div>
            </div><!-- end row -->
        </div> <!--  big container -->
        <div class="footer">
            <div class="container text-center">
                Made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>. Free download <a href="http://www.creative-tim.com/product/bootstrap-wizard">here.</a>
            </div>
        </div>
    </div>*@




}
</div>
@section Scripts {
    <script src="~/Scripts/jquery.smartWizard.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#smartwizard').smartWizard();
            var counter = 0;

            $("#addrow").on("click", function () {
                var newRow = $("<tr>");
                var cols = "";

                cols += '<td><input type="text" class="form-control" name="firstName' + counter + '"/></td>';
                cols += '<td><input type="text" class="form-control" name="lastName' + counter + '"/></td>';
                cols += '<td><input type="text" class="form-control" name="Email' + counter + '"/></td>';

                cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
                newRow.append(cols);
                $("table.order-list").append(newRow);
                counter++;
            });



            $("table.order-list").on("click", ".ibtnDel", function (event) {
                $(this).closest("tr").remove();
                counter -= 1;
            });


        });



   
    </script>
}
