@model BJJInParadise.Web.ViewModels.CreateCampViewModel
@section styles{
    <style>
        #mainNav {
            background: #000 !important;
        }

        #campsContainer {
            margin-top: 160px;
        }

        .resize {
            resize: both;
            overflow: auto;
        }
    </style>
}
<div class="container" id="campsContainer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Camp</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CampName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CampName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CampName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                 </div>
            </div>
            <div class="resize">
                <textarea  name="HtmlPageText" id="HtmlPageText">@Model.HtmlPageText</textarea>
            </div>


            <div class="form-group">
                <div class="offset-md-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>

    }

    <div>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sucess" })
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

  
    
    <script src="https://cdn.tiny.cloud/1/fvk3ye2u7kju0csathigcoqfnuw9q547xrbn21obxl3anw90/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: '#HtmlPageText'
        });
    </script>
}