@using BjjInParadise.Core.Constants
@model BjjInParadise.Core.Models.Camp
@section styles{
    <style>
        #mainNav {
            background: #000 !important;
        }

        #detailsCampsContainer {
            margin-top: 160px;
        }
    </style>
}
<div class="container" id="detailsCampsContainer">
    <h4>Camp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CampName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
@foreach(var item in Model.)
<h2>Booked Camps for @Model.FirstName + @Model.LastName</h2>
<div class="col-xs-12 col-md-6">
    <div id="accordion">
        @foreach (var item in Model.BookedCamps)
        {

            <div class="card">
                <div class="card-header" id="headingOne">

                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse@(count)" aria-expanded="true" aria-controls="collapse@(count)">
                            @item.Camp.CampName
                        </button>
                    </h5>
                </div>

                <div id="collapse@(count)" class="collapse" aria-labelledby="heading + @(count)" data-parent="#accordion">
                    <div class="card-body">
                        
                     
                    
                        <div class="col-xs-3">@Html.DisplayNameFor(x => item.AmountPaid): @Html.DisplayFor(x => item.AmountPaid)</div>
                  
                        <div class="col-xs-3">@Html.DisplayNameFor(x => item.Camp.StartDate): @Html.DisplayFor(x => item.Camp.StartDate)</div>
    
                        <div class="col-xs-3">@Html.DisplayNameFor(x => item.Camp.EndDate): @Html.DisplayFor(x => item.Camp.EndDate)</div>
                        <div class="col-xs-3">@Html.DisplayNameFor(x => item.CreatedDate): @Html.DisplayFor(x => item.CreatedDate)</div>

                        <div class="col-xs-3">@Html.DisplayNameFor(x => item.ModifiedDate): @Html.DisplayFor(x => item.ModifiedDate)</div>
                  
                        <div class="col-xs-3">@Html.DisplayNameFor(x => item.Camp.IsActive): @Html.DisplayFor(x => item.Camp.IsActive)</div>
                    
                
                      
                    </div>
                </div>
                @{ count++;}
            </div>

        }
    </div>
</div>
<p>
@if (User.IsInRole(UserConsts.ADMIN_ROLE))
{
    @Html.ActionLink("Edit", "Edit", new {id = Model.CampId}) 
}
    @Html.ActionLink("Back to List", "Index")
</p>
