@using BjjInParadise.Core.Constants
@model IEnumerable<BjjInParadise.Core.Models.Camp>
@if (User.IsInRole(UserConsts.ADMIN_ROLE)) { 
    <p>

        @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-info"})
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CampName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CampName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
    
        <td>
        @if (User.IsInRole(UserConsts.ADMIN_ROLE))
        {
            @Html.ActionLink("Edit", "Edit", new {id = item.CampId}, new {@class = "btn btn-success"})
        }
            @Html.ActionLink("Details", "Details", new {id = item.CampId}, new {@class = "btn btn-info"})
        @if (User.IsInRole(UserConsts.ADMIN_ROLE))
        {
            @Html.ActionLink("Delete", "Delete", new {id = item.CampId}, new {@class = "btn btn-danger"})
        }
        </td>
    </tr>
}

</table>
