@using BjjInParadise.Business
@using BjjInParadise.Core.Constants
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BJJ in Paradise</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    <!-- Custom fonts for this template -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="~/Content/agency/agency.min.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
   
<div class="container-fluid" >

    <div id="page-top">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                @{

                    string logoHref = Url.Action("Index", "Home");
                    if (Request.Url.AbsoluteUri.Contains("/Home/Index"))
                    {
                        logoHref = "#page-top";
                    }

                    var camps = DependencyResolver.Current.GetService<CampService>().GetAllActive().ToList();
                }
                <a class="navbar-brand js-scroll-trigger" href="@logoHref">BJJ In Paradise</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse " id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#what" >Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#portfolio">Media</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#faq">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#team">Your Hosts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                        </li>
               
                       @if ( camps.Any())
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Upcoming Camps
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    @foreach (var item in camps)
                                    {
                                        @Html.ActionLink(item.CampName, "ViewCamp", "Camp", new {id = item.CampId}, new {@class = "dropdown-item"})

                                    }

                                </div>
                            </li>
                      
                            <li class="nav-item">
                                @Html.ActionLink("Reserve My Spot", "Index", "Booking", new { id = camps.First().CampId }, new {@class = "nav-link"})
                            </li>
                        }
                       
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
        <div id="page-top">
        @RenderBody()
        </div>
       

    </div>
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - BJJ in Paradise</p>
    </footer>
</div>
@if (User.IsInRole(UserConsts.ADMIN_ROLE))
{
    <br />
    <!-- Grey with black text -->
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-bottom" >
        <ul class="navbar-nav">
            <li class="nav-item active">
                @Html.ActionLink("Admin Home", "Index", "Admin", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Manage Camps", "Index", "Camp", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Manage Users", "Index", "User", null, new { @class = "nav-link" })
            </li>
      
               
        </ul>
    </nav>
       
}

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Plugin JavaScript -->
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <!-- Contact form JavaScript -->
    <script src="~/Scripts/agency/jqBootstrapValidation.min.js"></script>
    <script src="~/Scripts/agency/contact_me.min.js"></script>

<script>












</script>
    @RenderSection("scripts", required: false)
</body>
</html>
