@using BjjInParadise.Core.Constants
@model BJJInParadise.Web.ViewModels.UserBookingViewModel
@section styles{
    <style>
        #mainNav {
            background: #000 !important;
        }

        #userDetails {
            margin-top: 80px;
        }

        .card-header {
            background: darkgray;
        }

        .btn {
            color: #fed136;
        }
    </style>
}

<div class="container" id="userDetails">
    <h4>User</h4>
    <hr />
    <div class="col-xs-12 col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AspNetUserId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUserId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Street)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Street)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.State)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ZipCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ZipCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HomeGym)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HomeGym)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedDate)
            </dd>

        </dl>
    </div>

@if (Model.BookedCamps.Any())
{
    <hr />
    <h2>Booked Camps for @Model.FirstName + @Model.LastName</h2>
    @Html.Partial("../Booking/_BookingAccordian", @Model.BookedCamps)
}
else
{
    <hr />
    <h2>No Booked Camps for @Model.FirstName + @Model.LastName</h2>
 
}
    <p>
        @if (User.IsInRole(UserConsts.ADMIN_ROLE))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }, new { @class = "btn btn-warning" })
        }
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sucess" })
    </p>

</div>